<?xml version='1.0' standalone='yes'?>
<!DOCTYPE PLUGIN>

{% set pluginDirectory = "/usr/local/emhttp/plugins/netbird" -%}
{% set configDirectory = "/boot/config/plugins/netbird" -%}

<PLUGIN 
  name="{{ name }}"
  author="{{ author }}"
  version="{{ env['PLUGIN_VERSION'] }}"
  {% if launch is defined %}launch="{{ launch }}"{% endif %}
  pluginURL="https://raw.githubusercontent.com/{{ env['GITHUB_REPOSITORY'] }}/main/plugin/{{ name }}.plg"
  {% if support is defined %}support="{{ support }}"{% endif %}
  {% if min is defined %}min="{{ min }}"{% endif %}
  {% if max is defined %}max="{{ max }}"{% endif %}
  {% if icon is defined %}icon="{{ icon }}"{% endif %}
>

<CHANGES>
<![CDATA[
{{ env['PLUGIN_CHANGELOG'] }}

For older releases, see https://github.com/{{ env['GITHUB_REPOSITORY'] }}/releases
]]>
</CHANGES>

<FILE Name="/boot/config/plugins/{{ name }}/{{ package_name }}-{{ env['PLUGIN_VERSION'] }}-noarch-1.txz">
<URL>https://github.com/{{ env['GITHUB_REPOSITORY'] }}/releases/download/{{ env['PLUGIN_VERSION'] }}/{{ package_name }}-{{ env['PLUGIN_VERSION'] }}-noarch-1.txz</URL>
<SHA256>{{ env['PLUGIN_CHECKSUM'] }}</SHA256>
</FILE>

<FILE Name="/boot/config/plugins/{{ name }}/{{ netbirdVersion }}.tgz">
<URL>https://github.com/netbirdio/netbird/releases/download/v0.63.0/netbird_{{ netbirdVersion }}_linux_amd64.tar.gz</URL>
<SHA256>{{ netbirdSHA256 }}</SHA256>
</FILE>

<!--
The 'install' script.
-->
<FILE Run="/bin/bash">
<INLINE>
<![CDATA[

# remove other branch (if switching between main and preview)
{% if env['PLUGIN_RELEASE'] != '' -%}
rm -f /boot/config/plugins/netbird.plg
rm -f /var/log/plugins/netbird.plg
{% else %}
rm -f /boot/config/plugins/netbird-preview.plg
rm -f /var/log/plugins/netbird-preview.plg
{% endif -%}

# Cleanup existing service file if it already exists
if [ -L "/etc/rc.d/rc.netbird" ]; then
    rm -f /etc/rc.d/rc.netbird
fi

# Install the plugin itself
upgradepkg --install-new /boot/config/plugins/{{ name }}/{{ package_name }}-{{ env['PLUGIN_VERSION'] }}-noarch-1.txz

# Extract the netbird binary and make it available to the system
mkdir -p {{ pluginDirectory }}/bin
tar xzf {{ configDirectory }}/{{ netbirdVersion }}.tgz --strip-components 1 -C {{ pluginDirectory }}/bin
ln -s {{ pluginDirectory }}/bin/netbird /usr/local/sbin/netbird

# The connect plugin uses git for unecrypted backups, make sure it doesn't leak our state to the world by accident
echo "state" > {{ configDirectory }}/.gitignore

# restart netbird, if it wasn't running now it will be
/etc/rc.d/rc.netbird restart



# cleanup old versions
rm -f $(ls /boot/config/plugins/{{ name }}/{{ package_name }}-*.txz 2>/dev/null | grep -v '{{ env['PLUGIN_VERSION'] }}')

echo ""
echo "----------------------------------------------------"
echo " {{ name }} has been installed."
echo " Version: {{ env['PLUGIN_VERSION'] }}"
echo "----------------------------------------------------"
echo ""
]]>
</INLINE>
</FILE>

<!--
The 'remove' script.
-->
<FILE Run="/bin/bash" Method="remove">
<INLINE>
<![CDATA[
removepkg {{ package_name }}

# Stop service
/etc/rc.d/rc.netbird stop 2>/dev/null

#Cleanup the binary
rm /usr/local/sbin/netbird

rm -rf /usr/local/emhttp/plugins/{{ name }}
rm -rf /boot/config/plugins/{{ name }}
]]>
</INLINE>
</FILE>

</PLUGIN>
